<%- include('partials/header') %>

<div class="container mt-4">
  <h2 class="text-center">Dashboard</h2>

  <div class="row">
    <% blogs.forEach(blog => { %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="<%= blog.imageUrl %>" class="card-img-top" alt="Blog Image" height="300px" width="300px"/>
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.content.substring(0, 100) %>...</p>
          <p class="text-muted">By <%= blog.author.username %></p>

          <% if (user && user._id.toString() === blog.author._id.toString()) {
          %>
          <a href="/blogs/<%= blog._id %>/edit" class="btn btn-warning">Edit</a>
          <form
            action="/blogs/<%= blog._id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button
              type="submit"
              class="btn btn-danger"
              onclick="return confirmDelete()"
            >
              Delete
            </button>
            <script>
              function confirmDelete() {
                return confirm("Are you sure you want to delete this post?");
              }
            </script>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
